
h1, h2 {
    color: #188b41;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

hr {
    max-width: 87%;
    margin: 4em auto 2em 0;
    border: none;
    background-color: #188b40a2;
    height: 1px;
}


/* 
-----------------------------
NAVBAR - TOP
-----------------------------
*/

.nav.navbar-nav.navbar-right li a {
    color: white;
}

#navbar-top {
    /* display: none; */
    position: absolute;
    width: 100vw;
    z-index: 100;
    top: 0;
    background-color: #188b41;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.7);
    
}

.nav-link { font-size: 1.5em;}

@-webkit-keyframes slide {
    /* 0%  { transform: translate3d(0px, -100px, 0) } */
    0% { -webkit-transform: translate(0px, -100px); }
    50% { -webkit-transform: translate(0px, -50px); }
    100% { -webkit-transform: translate(0px, 1px); }
}

@keyframes slide {
    /* 0%  { transform: translate3d(0px, -100px, 0) } */
    0% { 
        transform: translate(0px, -100px); 
    }
    100% { 
        transform: translate(0px, 0px); 
    }
}




.slide-in { 
    /* Safari doesn't like shorthand. Had to specify each individually.  */
    
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction:  forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide 1s forwards; /* Firefox < 16 */
    -ms-animation: slide 1s forwards; /* Internet Explorer */
    -o-animation: slide 1s forwards; /* Opera < 12.1 */
    animation: slide 1s forwards;
}

/* MUST GO AFTER ALL PAUSEABLE ANIMATION - Currently not implemented. Safari problems. */
.is-paused { animation-play-state: paused; }

/* 
-----------------------------
TOP VIDEO
-----------------------------
*/

.homepage-hero-module {
    
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
    z-index: 0;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 75;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


/* 
-----------------------------
CAGLA BRAND WITH FADE-IN
-----------------------------
*/


.caglaBrand {
    
    position: absolute;
    top: 40vh;
    
}

.overlay {
    color: #e7e8dc;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    
}

#cagla_logo h1 {
    color: white;
    font-size: 5em;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, .5), 
    6px 6px 5px rgba(0, 0, 0, .5);
}

#cagla_logoCatch h2 {
    color: white;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .6), 
    4px 4px 5px rgba(0, 0, 0, .6);
    
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
        
}

#cagla_logoCatch h2:first-child { margin-top: 2em; }

#cagla_logoCatch h2:nth-child(2) {
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
    animation: fadein 7s;
}



@keyframes fadein {
    0% { opacity: 0; }
    30% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}





/* 
-----------------------------
PAGES
-----------------------------
*/

.pages {
    float:left;
    position: absolute;
    box-shadow: 15px 0px 10px rgba(0, 0, 0, .5);
    width: 100vw;
    min-height: 100vh;
    z-index: 85;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /*
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;  */
}

#team-jp, #team-en {
    background-color: white;
}

#about-jp, #about-en {
    background-color: white;
}

#aboutContent p{
    font-size: 1.25em;
    line-height: 2em;
}


@keyframes toColor {
    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    75%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}


.about-cards {
    border: none; 
}

.about-cards img {
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
    width: auto;

}

.about-cards img:hover {
    animation: toColor .5s forwards; 
}

.card-title {
    color: #188b41;
}

#services-jp, #services-en {
    background-color: white;
}

.services-cards {
    border: none; 
}

#products-jp, #products-en {
    background-color: white;
}

#access-jp, #access-en {
    background-color: white;
}

.access-map {
    border: 1px solid #188b41;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}

.access-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/* -----------------------------------
COMPANY PROFILE TABLE
----------------------------------- */

/*.会社概要テーブル.*/
table.company {
    width: 70%;
    /* margin: 0 auto; */
    min-width: 370px;
/*    border-collapse: separate;*/
    border: none;
    border-spacing: 0px 15px;
    font-size: 12px;
    background: #eeefef;
}

table.company th,
table.company td {
    padding: 10px;
}

table.company th {
    background: #188b41;
    vertical-align: middle;
    text-align: center;
    width: 100px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

table.company th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #188b41;
    border-width: 10px;
    margin-top: -10px;
}

table.company td {
    background: #eeefef;
    border: 1px solid #188b41;
    text-align: left;
    width: 80%;
    max-width: 600px;
    padding-left: 20px;
}









@keyframes slidePage {
    from { transform: translate3d(-110vw, 0, 0) }
    to { transform: translate3d(0, 0, 0) }
}
@keyframes slidePageOut {
   from { transform: translate3d(0, 0, 0) }
   to { transform: translate3d(-110vw, 0, 0) }
}


@keyframes slidePageLeftIn {
    from { transform: translate3d(-110vw, 0, 0) }
    to { transform: translate3d(0, 0, 0) }

}
@keyframes slidePageRightIn {
    from { transform: translate3d(110vw, 0, 0) }
    to { transform: translate3d(0, 0, 0) }
    
}
@keyframes slidePageUpIn {
    from { transform: translate3d(0, 310vh, 0) }
    to { transform: translate3d(0, 0, 0) }
    
}
@keyframes slidePageDownIn {
    from { transform: translate3d(0, -310vh, 0) }
    to { transform: translate3d(0, 0, 0) }

}
@keyframes slidePageLeftOut {
    from { transform: translate3d(0, 0, 0) }
    to { transform: translate3d(110vw, 0, 0) }
}
@keyframes slidePageRightOut {
    from { transform: translate3d(0, 0, 0) }
    to { transform: translate3d(-110vw, 0, 0) }
}
@keyframes slidePageUpOut {
    from { transform: translate3d(0, 0, 0) }
    to { transform: translate3d(0, 310vh, 0) }
}
@keyframes slidePageDownOut {
    from { transform: translate3d(0, 0, 0) }
    to { transform: translate3d(0, 310vh, 0) }
}

.slide-page-in { 
    /* transform: translate3d(-110vw, 0, 0);  */
    animation: slidePage 1.5s forwards;
    /* animation-delay: 1s; */
}  
.slide-page-out { 
    /* transform: translate3d(-110vw, 0, 0);  */
    animation: slidePageOut 1s forwards;
}  


.slide-page-down-in {
    /* transform: translate3d(0, -110vh, 0);  */
    animation: slidePageDownIn 1s forwards;
    /* animation-delay: 1s; */
}
.slide-page-up-in {
    /* transform: translate3d(0, -110vh, 0);  */
    animation: slidePageUpIn 1s forwards;
    /* animation-delay: 1s; */
}
.slide-page-left-in {
    /* transform: translate3d(-110vw, 0, 0);  */
    animation: slidePageLeftIn 1s forwards;
    /* animation-delay: 1s; */
}
.slide-page-right-in {
    /* transform: translate3d(-110vw, 0, 0);  */
    animation: slidePageRightIn 1s forwards;
    /* animation-delay: 1s; */
}
.slide-page-down-out {
    /* transform: translate3d(0, -110vh, 0);  */
    animation: slidePageDownOut 1s forwards;
    /* animation-delay: 1s; */
}
.slide-page-up-out {
    /* transform: translate3d(0, -110vh, 0);  */
    animation: slidePageUpOut 1s forwards;
    /* animation-delay: 1s; */
}
.slide-page-left-out {
    /* transform: translate3d(-110vw, 0, 0);  */
    animation: slidePageLeftOut 1s forwards;
    /* animation-delay: 1s; */
}
.slide-page-right-out {
    /* transform: translate3d(-110vw, 0, 0);  */
    animation: slidePageRightOut 1s forwards;
    /* animation-delay: 1s; */
}


@media (min-width: 150px) and (max-width: 767px) {
    #cagla_logo h1 {
        font-size: 3em;
        font-weight: 900;
    }
    
    #cagla_logoCatch h2 {
        font-size: 1.75em;
   
    }

    .caglaBrand {
        top: 25vh;
    }

}





