
h1, h2 {
    color: #188b41;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}


/* 
-----------------------------
NAVBAR - TOP
-----------------------------
*/

#navbar-top {
    /* display: none; */
    position: absolute;
    width: 100vw;
    z-index: 100;
    top: 0;
    background-color: #188b41;
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.7);
    
}

.nav-link { font-size: 1.5em;}



.slide-in { 
    /* Safari doesn't like shorthand. Had to specify each individually.  */
    
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction:  forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slide 1s forwards; /* Firefox < 16 */
    -ms-animation: slide 1s forwards; /* Internet Explorer */
    -o-animation: slide 1s forwards; /* Opera < 12.1 */
    animation: slide 1s forwards;
}
@-webkit-keyframes slide {
    /* 0%  { transform: translate3d(0px, -100px, 0) } */
    0% { -webkit-transform: translate(-1px, -100px); }
    100% { -webkit-transform: translate(1px, 1px); }
}

@keyframes slide {
    /* 0%  { transform: translate3d(0px, -100px, 0) } */
    0% { 
        transform: translate(0px, -100px); 
    }
    100% { 
        transform: translate(0px, 0px); 
    }
}


/* 
-----------------------------
TOP VIDEO
-----------------------------
*/

.homepage-hero-module {
    
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
    z-index: 0;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 75;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


/* 
-----------------------------
CAGLA BRAND WITH FADE-IN
-----------------------------
*/


.caglaBrand {
    position: relative;
    z-index: 50;    
}

.overlay {
    float: left;
    position: absolute;
    color: #e7e8dc;
    font-family: 'Noto Sans', sans-serif;
    margin-top: -55vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;

}

#cagla_logo h1 {
    
    color: white;
    font-size: 5em;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, .5), 
    6px 6px 5px rgba(0, 0, 0, .5);
}

#cagla_logoCatch h2 {
    color: white;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .6), 
    4px 4px 5px rgba(0, 0, 0, .6);
    
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;
        
}

#cagla_logoCatch h2:first-child { margin-top: 7em; }

#cagla_logoCatch h2:nth-child(2) {
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
    -ms-animation: fadein 7s; /* Internet Explorer */
    -o-animation: fadein 7s; /* Opera < 12.1 */
    animation: fadein 7s;
}



@keyframes fadein {
    0% { opacity: 0; }
    30% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    100%  { opacity: 1; }
}


/* 
-----------------------------
PAGES
-----------------------------
*/

.pages {
    float:left;
    position: absolute;
    box-shadow: 15px 0px 10px rgba(0, 0, 0, .5);
    width: 100vw;
    min-height: 100vh;
    z-index: 85;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /*
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;  */
}

#team-jp, #team-en {
    background-color: white;
}

#about-jp, #about-en {
    background-color: white;
}

#aboutContent p{
    font-size: 1.25em;
    line-height: 2em;
}

.about-cards {
    border: none; 
}

.card-title {
    color: #188b41;
}

#services-jp, #services-en {
    background-color: white;
}

.services-cards {
    border: none; 
}

#products-jp, #products-en {
    background-color: white;
}

#access-jp, #access-en {
    background-color: white;
}

.access-map {
    border: 1px solid #188b41;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

 @keyframes slidePage {
    to { transform: translate3d(0, 0, 0) }
}
 @keyframes slidePageOut {
    to { transform: translate3d(0, 0, 0) }
}

.slide-page-in { 
    transform: translate3d(-110vw, 0, 0); 
    animation: slidePage 1.5s forwards;
    animation-delay: 1s;
}  
.slide-page-out { 
    transform: translate3d(-110vw, 0, 0); 
    animation: slidePageOut 1s reverse;
}  


@media (min-width: 300px) and (max-width: 767px) {
    #cagla_logo h1 {
        font-size: 3em;
        margin-bottom: 3em;
    }
    
    #cagla_logoCatch h2 {
        font-size: 1.75em;
        margin-top: 3em;
   
    }

}





/* MUST GO AFTER ALL PAUSEABLE ANIMATION */
.is-paused { animation-play-state: paused; }